.passphoto {
    width: 450px;
    position: absolute;
    top: 60%; 
    left: -10%;
}

.container {
    position: relative;
    display: inline-block;
    width: 800px;
    padding-top: 50px;
}

.passport {
    position: absolute;
    top: 20%;
    left: 15%;
}

.change {
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
}