.navigation
{
    /* background: red; */
   /* margin: 0 20%; */
   /* padding: 0 20%; */
   display: flex; 
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
}

.navigation li 
{
    list-style: none;
}

.highlighter 
{
    color:rgb(33, 33, 153); 
    font-weight: bold;
    font-size: 1.5rem;
}


.pictures 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .none
{
    list-style: none;
} */